.about {
  width: 85vw;

  background: linear-gradient(
    180deg,
    var(--color1),
    var(--color2),
    var(--color3)
  );
  padding: 0px 40px;
}
[data-theme="light"] {
  --color1: rgba(0, 7, 10, 1) 27%;
  --color2: rgba(9, 67, 85, 1) 67%;
  --color3: rgba(34, 108, 122, 1) 99%;
}
[data-theme="dark"] {
  --color1: rgb(159, 219, 245) 27%;
  --color2: rgb(133, 227, 255) 67%;
  --color3: rgb(54, 166, 189) 99%;
}

.about-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title-line1 {
  height: 5px;
  background-color: var(--font-color);
  width: 120px;
  margin-top: -35px;
  border-radius: 00px 100px 100px 00px;
}
.about-title-line2 {
  height: 5px;
  background-color: var(--font-color);
  width: 100px;
  margin-top: 5px;
  border-radius: 00px 100px 100px 00px;
}

.about-intro-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-intro-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: var(--font-color);
}

.about-content {
  margin-right: 80px;
}

.about-skills-container {
  width: calc(80vw - 80px);

  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.about-skills-left-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px;
  width: calc((85vw - 80px) / 1.6);
}
.about-skills-left-p-div {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  width: 24vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.557);
  margin-top: 15px;
}
.about-skills-left-p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--foreground-color);
  letter-spacing: 1px;
  line-height: 1px;
}
.about-skills-left-p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  /* font-weight: 500; */
  color: var(--foreground-color);
  letter-spacing: 1px;
  line-height: 20px;
}
.about-skills-left-btn-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin: 20px 0px;
  width: calc((85vw - 80px) / 1.9);
}
.about-skills-left-btn {
  background-color: var(--font-color);
  padding: 15px 35px;
  border-radius: 100px;
  border: 2px solid var(--font-color);

  color: var(--foreground-color);
  font-size: 24px;
  font-weight: 500;
  transition: 0.4s;

  &:hover {
    background-color: transparent;
  }
}

.about-skills-right-div {
  display: flex;
  flex-direction: column;
  width: calc((80vw - 80px) / 4);
}
.about-skills-right-p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--foreground-color);
  letter-spacing: 1px;
  margin-bottom: -30px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  width: calc((84vw - 10px) / 3.6);
}

li {
  list-style: none;
  color: var(--foreground-color);
  font-size: 18px;
  margin: 48px 0;
  position: relative;
}

li::before,
li::after {
  content: "";
  display: block;
  height: 16px;
  width: 100%;
  background-color: #1f4a59;
  position: absolute;
  bottom: -28px;
  border-radius: 6px;
}

li::before {
  background-color: var(--foreground-color);
}

li::after {
  background-color: var(--font-color);
}

li::after {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.js::after {
  animation-name: js;
}

.react::after {
  animation-name: react;
}

.html5::after {
  animation-name: html5;
}

.css3::after {
  animation-name: css3;
}

.sketch::after {
  animation-name: sketch;
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes react {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes html5 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes css3 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes sketch {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.about-tech-container {
  width: calc(80vw - 80px);

  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.tech-card {
  padding: 10px 20px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;

  .tech-card-img {
    z-index: 1;
    padding: 10px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .tech-card-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--foreground-color);
    letter-spacing: 1px;
    line-height: 10px;
    translate: 0px -70px;
    opacity: 0;
    transition: 0.4s;
  }

  &:hover {
    .tech-card-p {
      translate: 0px 0px;
      opacity: 1;
    }
  }
}
