.home {
  width: 85vw;
  height: 100vh;
  /* background-color: rgb(7, 27, 27); */
  background: linear-gradient(
    190deg,
    var(--color1),
    var(--color2),
    var(--color3)
  );

  display: flex;
  align-items: center;

  padding: 0px 40px;
}

[data-theme="light"] {
  --color1: rgba(2, 26, 36, 1) 17%;
  --color2: rgb(7, 31, 38) 67%;
  --color3: rgb(5, 23, 23) 99%;
}
[data-theme="dark"] {
  --color1: rgb(6, 121, 159) 27%;
  --color2: rgb(27, 160, 163) 67%;
  --color3: rgb(29, 103, 156) 99%;
}

.home-left {
  width: 50vw;
}
.home-intro-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -30px 0px;
}
.home-name {
  font-family: "Updock", cursive;
  font-size: 48px;
  font-weight: 600;
  color: var(--font-color);
  letter-spacing: 1px;
}

.home-my-intro {
  display: flex;
  align-items: center;
  margin: -30px 0px;
}

.home-role {
  color: var(--font-color);
  font-size: 40px;
  font-weight: 700;
  border-right: 5px solid var(--font-color);
  padding: 0px 5px 0px 10px;
  line-height: 99%;
}

.home-more-btn {
  background-color: var(--font-color);
  padding: 15px 30px;
  border-radius: 100px;
  border: 2px solid var(--font-color);

  color: var(--foreground-color);
  font-size: 26px;
  font-weight: 500;
  transition: 0.4s;

  &:hover {
    background-color: transparent;
  }
}

.home-right {
  width: 45vw;
  display: flex;
  justify-content: center;
}
.home-img {
  width: 20vw;
  height: auto;

  --s: 50px; /* the size on the corner */

  padding: 20px; /* the gap between the border and image */
  border: 5px solid #b38184; /* the thickness and color */
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}
