.projects {
  width: 85vw;
  background: linear-gradient(
    180deg,
    var(--color1) 27%,
    var(--color2) 67%,
    var(--color3) 99%
  );
  padding: 0px 40px;
}

/* Dark Theme */
[data-theme="dark"] {
  --color1: #0f2027;
  --color2: #203a43;
  --color3: #2c5364;
}

/* Light Theme */
[data-theme="light"] {
  --color1: #f0faff;
  --color2: #d4f1ff;
  --color3: #b2e7f2;
}

.project-card-container {
  width: 81vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 0px;
}
.project-p {
  margin-right: 80px;
  text-align: justify;
}
.project-card {
  width: 15vw;
  height: 45vh;
  padding: 10px;
  background-color: var(--foreground-color);
  box-shadow: 0 3px 10px var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card-img-div {
  background-color: rgba(137, 43, 226, 0);
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: 0.4s;

  &:hover {
    background-color: var(--font-color);

    svg {
      color: aliceblue;
    }
  }

  svg {
    color: var(--font-color);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
}

.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.project-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: var(--background-color);
  line-height: 35px;
  text-align: center;
  min-height: 90px;
}
.project-card-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--background-color);
  text-align: justify;
  margin: -30px 10px auto 10px;
  height: 12vh;
  overflow: hidden;
}
.project-card-btn {
  padding: 8px 16px;
  background-color: var(--font-color);
  border: 2px solid var(--font-color);
  border-radius: 100px;
  color: var(--foreground-color);
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s;

  &:hover {
    background-color: transparent;
    color: var(--font-color);
  }
}

@media (max-width: 1000px) {
  .projects {
    width: 100vw;
    padding: 0px 0px;
  }
  .project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: -80px;
  }
  .project-p {
    width: 90vw;
    margin: 20px auto;
  }

  .project-card {
    width: 250px;
    height: max-content;
    padding: 20px 10px;
  }

  .svg {
    width: 50px;
  }
  .project-card-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--background-color);
    line-height: 30px;
    text-align: center;
    /* min-height: 90px; */
  }
  .project-card-desc {
    font-size: 16px;
    margin: -40px 10px auto 10px;
  }
  .project-card-btn {
    font-size: 15px;
  }
}
