:root {
  --background-color: rgb(21, 19, 24);
  --foreground-color: rgb(248, 248, 248);
  --font-color: rgb(230, 103, 18);
  --theme-color: rgb(230, 103, 18);
  --background-color1: rgb(7, 95, 124) 27%;
  --background-color2: rgb(13, 160, 162) 67%;
  --background-color3: rgb(28, 124, 193) 99%;
  --text-primary-color: #3f3d3d;
  --text-secondary-color: #525a61;
}
[data-theme="dark"] {
  --background-color: rgb(255, 255, 255);
  --foreground-color: rgb(0, 0, 0);
  --font-color: rgb(230, 103, 18);
  --theme-color: rgb(230, 103, 18);
  --background-color1: rgb(3, 53, 70) 27%;
  --background-color2: rgb(5, 70, 71) 67%;
  --background-color3: rgb(9, 47, 75) 99%;
  --text-primary-color: #ffffff;
  --text-secondary-color: #dbd2d2;
}
[data-theme-color="orange"] {
  --font-color: rgb(230, 103, 18);
  --theme-color: rgb(230, 103, 18);
}
[data-theme-color="green"] {
  --font-color: rgb(0, 255, 60);
  --theme-color: rgb(0, 255, 60);
}
[data-theme-color="purple"] {
  --font-color: rgb(247, 0, 255);
  --theme-color: rgb(247, 0, 255);
}
[data-theme-color="blue"] {
  --font-color: rgb(0, 8, 255);
  --theme-color: rgb(0, 8, 255);
}

.theme-btn {
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 12;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: var(--foreground-color);
}
.theme-div {
  position: fixed;
  right: 20px;
  top: 70px;
  width: 63px;

  height: 40px;
  background-color: rgba(126, 126, 126, 0.349);
  z-index: 12;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
  transition: 0.4s;

  &:hover {
    width: 183px;
    background-color: rgba(126, 126, 126, 0.615);

    .theme-color-show {
      display: none;
    }
  }
}
.theme-arrow {
  width: 25px;
  height: 30px;
  color: var(--font-color);
}
.theme-color-btn {
  height: 30px;
  min-width: 30px !important;
  border-radius: 100px;
  border: none;
}
.theme-color-show {
  height: 30px;
  min-width: 30px !important;
  border-radius: 100px;
  border: none;
  background-color: var(--font-color);
}

.text-header-main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 3vw, 3.8em);
  font-weight: 700;
  color: var(--text-secondary-color);
}
.text-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 700;
  color: var(--text-secondary-color);
}

.text-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: 500;
  color: var(--text-primary-color);
  letter-spacing: 1px;
}

.app {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 15vw;
  position: fixed;
  left: 0px;
  top: auto;
  height: 100vh;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* z-index: 10; */
}
.sidebar-show {
  width: 15vw;
  position: fixed;
  left: 0px;
  top: auto;
  height: 100vh;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-links-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar-btn {
  width: clamp(1rem, 15vw, 15rem);
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  align-items: center;

  gap: 1rem;

  font-size: clamp(1rem, 2vw, 3.8rem);
  letter-spacing: 1px;

  -webkit-box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);
  box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);

  img {
    width: clamp(1rem, 2vw, 3.8rem);
    height: clamp(1rem, 2vw, 3.8rem);
  }
}

.page-div {
  position: absolute;
  right: 0px;
  width: 85vw;
  height: 100vh;
  overflow-y: auto; /* ✅ Enable vertical scrolling */
  overflow-x: hidden;
  scroll-behavior: smooth; /* ✅ Enable smooth scroll on this element */
}

.page {
  z-index: 1;
  position: absolute;
  top: 0;
}
.prev-page {
  z-index: 0;
  position: relative;
  top: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

/* these part add for page landing animations */
.right-left {
  animation: right_left 1s ease-out forwards;
  z-index: 1;
}
.right_left {
  animation: right__left 1s ease-out forwards;
  z-index: 1;
}
@keyframes right_left {
  0% {
    translate: 90vw 0px;
  }
  100% {
    translate: 0vw 0px;
  }
}
@keyframes right__left {
  0% {
    translate: 90vw 0px;
  }
  100% {
    translate: 0vw 0px;
  }
}

.menu-icon-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 150px;
    translate: -150px 0px;
    transition: 0.9s;
    z-index: 10;
  }
  .sidebar-show {
    width: 150px;
    translate: 0vw 0px;
    transition: 0.9s;
    z-index: 10;
  }
  .sidebar-btn {
    width: 120px;

    padding: 10px 30px;
    display: flex;
    align-items: flex-start;
    img {
      display: none;
    }
  }

  .page-div {
    position: absolute;

    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* ✅ Enable vertical scrolling */
    /* overflow-x: hidden; */
    scroll-behavior: smooth; /* ✅ Enable smooth scroll on this element */
  }
}
