:root {
  --background-color: rgb(21, 19, 24);
  --foreground-color: rgb(248, 248, 248);
  --font-color: rgb(230, 103, 18);
}
[data-theme="dark"] {
  --background-color: rgb(255, 255, 255);
  --foreground-color: rgb(0, 0, 0);
  --font-color: rgb(230, 103, 18);
}
[data-theme-color="orange"] {
  --font-color: rgb(230, 103, 18);
}
[data-theme-color="green"] {
  --font-color: rgb(0, 255, 60);
}
[data-theme-color="purple"] {
  --font-color: rgb(247, 0, 255);
}
[data-theme-color="blue"] {
  --font-color: rgb(0, 8, 255);
}

.theme-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 12;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: var(--foreground-color);
}
.theme-div {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 95px;

  height: 55px;
  background-color: rgba(126, 126, 126, 0.349);
  z-index: 12;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
  transition: 0.4s;

  &:hover {
    width: 260px;
    background-color: rgba(126, 126, 126, 0.615);

    .theme-color-show {
      display: none;
    }
  }
}
.theme-arrow {
  width: 40px;
  height: 40px;
  color: var(--font-color);
}
.theme-color-btn {
  height: 45px;
  min-width: 45px !important;
  border-radius: 100px;
  border: none;
}
.theme-color-show {
  height: 45px;
  min-width: 45px !important;
  border-radius: 100px;
  border: none;
  background-color: var(--font-color);
}

.text-header-main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: var(--foreground-color);
}
.text-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: var(--foreground-color);
}

.text-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--foreground-color);
  letter-spacing: 1px;
}

.app {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 15vw;
  position: fixed;
  left: 0px;
  top: auto;
  height: 100vh;
  background-color: rgba(199, 199, 199, 0.182);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* z-index: 10; */
}

.sidebar-links-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar-btn {
  padding: 10px 30px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 25px;

  font-size: 34px;
  letter-spacing: 1px;

  -webkit-box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);
  box-shadow: -1px 5px 15px -8px rgba(0, 0, 0, 0.27);
}

.page-div {
  position: absolute;
  right: 0px;
  width: 85vw;
  height: 100vh;
  overflow-y: auto; /* ✅ Enable vertical scrolling */
  overflow-x: hidden;
  scroll-behavior: smooth; /* ✅ Enable smooth scroll on this element */
}

.page {
  z-index: 1;
  position: absolute;
  top: 0;
}
.prev-page {
  z-index: 0;
  position: relative;
  top: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

/* these part add for page landing animations */
.right-left {
  animation: right_left 1s ease-out forwards;
  z-index: 1;
}
.right_left {
  animation: right__left 1s ease-out forwards;
  z-index: 1;
}
@keyframes right_left {
  0% {
    translate: 100vw 0px;
  }
  100% {
    translate: 0vw 0px;
  }
}
@keyframes right__left {
  0% {
    translate: 100vw 0px;
  }
  100% {
    translate: 0vw 0px;
  }
}
